:host {
  width: 21%;
}

.fillingWidget {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  height: 20%;
}

.top > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}


/* span title */
.top > div > span:first-child {
  font-size: 19px;
  font-weight: 400;
}

/* number */
.top > div > div > span:first-child {
  font-size: 26px;
  color: var(--orange);
  font-weight: 600;
}

/* client span */
.top > div > div > span:last-child {
  font-size: 25px;
  color: var(--dash);
  font-weight: 500;
}

/* div with number */
.top > div > div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}


/* bottom with stat */
.bottom {
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.bottom > span:first-child {
  font-weight: 600;
}

.bottom > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.bottom .advencement {

  width: 100%;
  /* border: 1px solid var(--grey-text); */
  height: 10px;
  border-radius: 10px;
  background-color: #F2F4F8;
  display: flex;
  flex-direction: row;
clip-path: border-box;
}

.bottom .advencement div{
  height: 100%;
  background-color: var(--yellow);
  border-radius: 0px 20px 20px 0px
}
