.auth {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
  background-color: white;
}

.auth > div:first-child {

  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: baseline;
}

.auth div:first-child span {
  font-size: 3em;
  font-family: jost, sans-serif;
  text-transform: uppercase;

}


form {
  width: 20%;
  align-items: center;
}

form div {
  align-items: center;
}
