<!--<p>home works!</p>-->
<!--@if(joke()){-->
<!--  <p appBold>{{ joke()|word }}</p>-->
<!--}-->
<!--<button (click)="generateJoke()">Change jole !</button>-->


<div class="home page">
  <img src="/logo.svg" alt="">

  <div class="textes">
    <div><h1>Auberjeune</h1>
      <h2>Auberge de jeunesse</h2>
    </div>

    <a routerLink="/admin/dashboard">Admin</a>
    <a routerLink="informations">Informations</a>
    <a routerLink="booking">Book</a>
  </div>
<div class="roomImage">
  <img  src="/homeBedroom.png" alt="">

</div>

</div>
