.managePage{

}
/* header */
.managePage >div:first-child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
  height: 10%;
}

.pageContent{
height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.pageContent> div:last-child{
  display: flex;
  flex-direction: column;
  width: 83%;
  gap: 25px;
}

/* legend */
 .legend{
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;


}
.legend p {
  color: var(--dark-grey-text );
}
.legend .greenPatch,  .legend .redPatch{

  font-size: 15px;
}


/* ======== Room and bed list ====== */

.rooms{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* room list */
.rooms > div{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}


/* bed list */
.rooms > div >div{
 display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.rooms > div >div > span{
  font-size: 15px;
  padding: 9px 24px !important;
  box-sizing: border-box;
}

.rooms .redPatch,.rooms .greenPatch{
  cursor: pointer;
}
